
/* Remove padding and margin from all elements */
* {	padding: 0;
	margin: 0;
	}
	
/* Remove border from all images, for IE */
img {
	text-decoration: none; 
	border: 0px;
	}
	
/* Body styling to apply to whole body */

body {
	height: calc(100% - 30px);
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #434343;
	min-width: 1024px;
	width: 100%;
	overflow: auto;
	white-space: nowrap;
	min-height: 768px;
	}
	
/* HTML styling to apply to whole page */
html {	
	margin: 0;
	padding: 0;
	height: calc(100% - 30px);
	}

/* Changes the color of the default mailto link to white */
/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
#aEmailLink { 
	color: white; 
	text-decoration: none;
	}
	
/* Changes the color of the default mailto link to white */
/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
#aTelLink { 
	color: white; 
	text-decoration: none;
	}

/* Changes the color of the default mailto link to white */
/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
#aSkypeLink {
	color: white; 
	text-decoration: none;
	}
	
/* Keyframes animation to rotate contact icon on hover, and give a glowing border */
#emailImg:hover {

	/* Reference: http://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
	-o-animation: spin 3s infinite ease-in-out;
	-webkit-animation: spin 3s infinite ease-in-out;
	-moz-animation: spin 3s infinite ease-in-out;
	animation: spin 3s infinite ease-in-out;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	
}

/* Keyframes animation to rotate contact icon on hover, and give a glowing border */
#telImg:hover {

	/* Reference: http://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
	-o-animation: spin 3s infinite ease-in-out;
	-webkit-animation: spin 3s infinite ease-in-out;
	-moz-animation: spin 3s infinite ease-in-out;
	animation: spin 3s infinite ease-in-out;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
}

/* Keyframes animation to rotate contact icon on hover, and give a glowing border */
#skypeImg:hover {

	/* Reference: http://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
	-o-animation: spin 3s infinite ease-in-out;
	-webkit-animation: spin 3s infinite ease-in-out;
	-moz-animation: spin 3s infinite ease-in-out;
	animation: spin 3s infinite ease-in-out;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
}

/* Creates a hover effect for the email address, showing "Send Mail!" on hover, also creates a glowing border around this text */
#aEmailLink[href^="mailto"]:hover:after { 
	
	/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
	content: " -> " attr(title); 
	color: #D5AA3B;
	font-size: 80%;
	z-index: 10;
	position: relative;
	background-color: #434343;
	border: 1px solid #D5AA3B;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	padding: 5px;
	padding-right: 10px;
	margin-left: 7px;
	} 
	
/* Creates a hover effect for the email address, showing "Send Mail!" on hover, also creates a glowing border around this text */
#aTelLink:hover:after { 

	/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
	content: " -> " attr(title); 
	color: #D5AA3B;
	font-size: 80%;
	z-index: 10;
	position: relative;
	background-color: #434343;
	border: 1px solid #D5AA3B;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	padding: 5px;
	padding-right: 10px;
	margin-left: 7px;
	} 
	
/* Creates a hover effect for the email address, showing "Send Mail!" on hover, also creates a glowing border around this text */
#aSkypeLink:hover:after { 

	/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
	content: " -> " attr(title); 
	color: #D5AA3B;
	font-size: 80%;
	z-index: 10;
	position: relative;
	background-color: #434343;
	border: 1px solid #D5AA3B;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	padding: 5px;
	padding-right: 10px;
	margin-left: 7px;
	} 

/* When hovering over email icon, pops up the "Send Email!" text as though hovering over the link, also creates a glowing border */ 
#aEmailImg:hover  ~ #emailLink:after { 

	/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
	content: " -> " attr(title); 
	color: #D5AA3B;
	font-size: 80%;
	z-index: 10;
	position: relative;
	background-color: #434343;
	border: 1px solid #D5AA3B;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	padding: 5px;
	padding-right: 10px;
	margin-left: 7px;
	} 
	
/* When hovering over email icon, pops up the "Send Email!" text as though hovering over the link */ 
#aTelImg:hover  ~ #telLink:after { 

	/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
	content: " -> " attr(title); 
	color: #D5AA3B;
	font-size: 80%;
	z-index: 10;
	position: relative;
	background-color: #434343;
	border: 1px solid #D5AA3B;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	padding: 5px;
	padding-right: 10px;
	margin-left: 7px;
	}

/* When hovering over email icon, pops up the "Send Email!" text as though hovering over the link */ 
#aSkypeImg:hover  ~ #skypeLink:after { 

	/* Reference: http://css-tricks.com/examples/BetterEmailLinks/ */
	content: " -> " attr(title); 
	color: #D5AA3B;
	font-size: 80%;
	z-index: 10;
	position: relative;
	background-color: #434343;
	border: 1px solid #D5AA3B;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	padding: 5px;
	padding-right: 10px;
	margin-left: 7px;
	}	
	
/* Styles for entire page */
/* Sets a relative anchor for #navChild styling */
/* Sets the page height to be 100% of browser height */
#pageContainer {	
	position: relative;
	min-height: 100%;
	}
	
/* generic wordwrap class used throughout the page */
.wordWrap {
	white-space: pre-line;      
    white-space: -pre-wrap;     
    white-space: -o-pre-wrap;   
    white-space: -moz-pre-wrap; 
    white-space: -hp-pre-wrap;  
    word-wrap: break-word;      
	}
/* Generic inline display style for div and other elements */
.inline {
	display: inline-block;
	}

/* Sets top heading section to be 100% of page width */
#topWrapper {
	width: 100%;
	min-width: 1024px;
	}
	
/* Gives buffers for the page content, sets to 100% page width */
#content {	
	margin-right: 76px;
	padding-bottom: 32px;
	min-height: calc(100% - 200px);
	width: 100%;
	
	}
	
/* Style for horizontal separator */
.spacerBar {	
	width: 100%;
	height: 5px;
	min-width: 1024px;
	background-color: #D5AA3B;
	}
	
/* Styles for heading */
/* Set height, about 1/3 of page width, minimum width to account for image */
#logoHolder {	
	height: 100px;
	width: 28%;
	min-width: 288px;
	background-color: #000000;
	}
	
/* buffer the logo */
#logo {	
	margin-top: 14px;
	margin-left: 45%;
	}
	
/* set to constant height, vertically centre line text, set to about 2/3 of page width */	
#headingHolder {	
	height: 100px;
	line-height: 100px;
	background-color: #000000;
	vertical-align: top;
	width: 72%;
	}
		
/* heading styles */
/* font, text color, font size, width */
.heading {	
	color: #D5AA3B;
	font-family: 'Dancing Script', cursive;
	font-size: 150%;
	text-align: center;
	}
	
/* font, font-size, font color and spacing */
.headingName {	font-family: 'Dancing Script', cursive;
				font-size: 300%;
				color: #D5AA3B;
				text-align: center;
			}
				

/* Styles for nav menu */
/* Give constant height, centre align menu across whole page width */
#navmenu {
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: #000000;
	min-width: 1024px; 
	}
	
/* remove hyperlink underline */
#navmenu a {
    text-decoration: none;
}

/* center nav menu text vertically, constant height, spacing, grow animation */
/* Reference: http://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
.nav {
	height: 50px;
	line-height: 50px;
	font-family: 'Spinnaker';
	font-size: 150%;
	padding-left: 20px;
	padding-right: 20px;
	color: #838383;
	-o-transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
	}
	
/* Grow on hover */
/* Reference: http://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
.nav:hover {
	color: white;
	-o-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	transform: scale(1.15);
	}

/* set styling and 3/4 border for currently selected nav */
#currentNav {
	position: relative;
	height: 40px;
	line-height: 50px;
	font-family: 'Spinnaker';
	font-size: 150%;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #FFFFFF;
	}
	
/* Shorten 3/4 border of currently selected nav by 10 pixels */
#navChild {
	position: absolute;
	top: 0;
	left: -1px;
	height: 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 100%;
	}

/* Styles for footer */
#footer {	
	position: relative;
	bottom: 0;
	width: 100%;
	min-width: 1024px;
	height: 75px;
	background-color: #9A9A9A;
	border-top: 2px solid black;
	text-align: center;
	}

.footerInner {
	padding: 5px;
}
/* Top buffer for portrait photo */
#portrait {	padding-top: 0%;}
	
/* *** HOME PAGE *** */

/* All content on homepage */
#homeContent {	
	width: 65%;
	color: white;
	text-align: left;
	vertical-align: top;
	padding-bottom: 7%;
	padding-left: 3%;
	}

#contentWrapper {
	width: 100%;
	text-align: center;
	padding-top: 7%;
}

/* social media icons */
#socialContainer {
	margin-top: 30px;
	}
	
.social {
	margin: 10px;
	}

/* textual 	 */
.contentHeading {
	font-family: 'Spinnaker';
	font-size: 150%;
	text-align: center;
	padding-right: 10%;
	}

.contentText {
	width: 90%;
	font-family: 'Spinnaker';
	color: #E4E4E4;
}

/* *** CONTACT PAGE *** */

#contactHeadingIcons {	
	padding-left: 35%;
	position: relative;
	top: 15px;
	}
	
.contactIcons {
	height: 60px;
	margin-bottom: 40px;
	vertical-align: top;
	}
	
.contactDetails {
	margin-left: 5%;
	vertical-align: top;
	height: 60px;
	line-height: 60px;
	font-family: 'Spinnaker';
	font-size: 120%;
	color: #E4E4E4;
	}
	
#mailAddress {
	margin-left: 5%;
	vertical-align: top;
	height: 60px;
	font-family: 'Spinnaker';
	font-size: 120%;
	color: white;
}

/* RESUME STYLING */
/* ************** */

.download {
	padding-top: 30px;
	padding-bottom: 30px;
	vertical-align: top;
	height: 40px;
	text-align: left;
	padding-left: 20%;
	}
	
.downloadColumn {
	width: 50%;
	font-family: Verdana;
	font-size: 80%;
	color: white;
	text-align: left;
	vertical-align: top;
	padding-left: 20px;
	padding-top: 10px;
}

.resumeHeading {
	width: 100%;
	text-align: center;
	font-family: Verdana;
	font-size: 300%;
	color: #E4E4E4;
	padding-top: 20px;
	}
	
.resumeSubHeading {
	text-align: left;
	font-family: Verdana;
	font-size: 200%;
	color: #E4E4E4;
	padding-left: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
.resumeSubHeadingCenter {
	text-align: center;
	font-family: Verdana;
	font-size: 130%;
	color: #E4E4E4;
	padding: 20px;
	}
	
.resumeContent {
	width: 60%;
	text-align: left;
	font-family: Verdana;
	font-size: 80%;
	color: #E4E4E4;
	margin-left: 20%;
	margin-right: 20%;
	}
	
.resumeContentWrapper {	
	padding: 20px;
	}
	
.resumeRule {
	width: 60%;
	margin-left: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.italics {
	font-style: italic;
	}
	
.black {
	color: black;
	}
	
.techHeading {
	width: 20%;
	vertical-align: top;
	}
	
.techContent {
	width: 80%;
	padding-left: 10px;
	}

.skillsContainer {
	margin-left: 22%;
	padding: 20px;
	}
	
.skillsContent {
	width: 50%;
	font-family: Verdana;
	font-size: 80%;
	color: #E4E4E4;
	padding: 5px;
	}

/* Styles for lighter colored highlighting */
.highlight {
	background-color: #9A9A9A;
	padding: 20px;
	margin-left: 20%;
	margin-right: 20%;
	}
	
.highlightInset {
	width: 15%;
	background-color: #9A9A9A;
	padding: 20px;
	}
	

	
.highlightContent {
	text-align: left;
	font-family: Verdana;
	font-size: 80%;
	color: black;
	padding-top: 10px;
}

/* style specific to achievements box */
.achievements {
	padding-top: 10px;
	font-family: Verdana;
	font-size: 80%;
	color: black;
	}
	
/* Gives an element rounded corners */
.rounded {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
	}
	
/* Styling for triangle colored shapes */
.triangleContainer {
	vertical-align: top;
	text-align: center;
	width: 100%	
	}
	
.triangleLink {
	font-family: Verdana;
	font-size: 135%;
	color: white;
	margin-left: 10px;
	margin-right: 40px;
	vertical-align: top;
}

.triangleLinkLast {
	margin-right: 0px;
}

.triangleImage {
	position: relative;
	bottom: 0px;
	width: 35px;
	height: 35px;
}

.headingImage {
	position: relative;
	bottom: -8px;
	margin-right: 10px;
}

/* Styles to allow changing colors of triangles */
#skillsImage {
	background-image: url('../images/blueTri.png');
	}
	
#skillsLink:hover #skillsImage 	{
	background-image: url('../images/blueTriSelected.png');
	}

#achievementsImage {
	background-image: url('../images/yellowTri.png');
	
	}
	
#achievementsLink:hover #achievementsImage {
	background-image: url('../images/yellowTriSelected.png');
	
	}
	
#experienceImage {
	background-image: url('../images/redTri.png');
	
	}
	
#experienceLink:hover #experienceImage {
	background-image: url('../images/redTriSelected.png');
	
	}
	
#technologyImage {
	background-image: url('../images/orangeTri.png');
	
	}
	
#technologyLink:hover #technologyImage {
	background-image: url('../images/orangeTriSelected.png');
	
	}
	
#educationImage {
	background-image: url('../images/aquaTri.png');
	
	}
	
#educationLink:hover #educationImage {
	background-image: url('../images/aquaTriSelected.png');
	
	}
	
/* *** CONTACT PAGE *** */
/* Contact Form */

#formBorder {
	background-color: #9A9A9A;
	padding: 20px;
	
	/* Rounded corners */
	border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
	
	}
	
#formHeading {
	background-color: #434343;
	color: #E4E4E4;
	font-family: Verdana;
	font-size: 130%;
	padding: 10px;
	margin-left: 20px;
	font-style: italic;
	border: 2px solid #9A9A9A;
	border-radius: 40px 40px 40px 40px;
	}
	
.formPlaceHolder {
	padding: 5px;
	}
	
.formLabel {
	display: inline-block;
	width: 120px;
	text-align: left;
	font-family: Verdana;
	font-size: 80%;
	font-weight: bold;
	vertical-align: top;
	}
	
.formInput {
	text-align: left;
	min-width: 200px;
	border: 1px solid #434343;
	padding: 5px;
	}
	
.formInput:hover {
	/* Glowing effect */
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	box-shadow: 0 0 5px rgba(213,170,59, 1);
    -webkit-box-shadow: 0 0 5px rgba(213,170,59, 1); 
    -moz-box-shadow: 0 0 5px rgba(213,170,59, 1);
    border:1px solid rgba(213,170,59, 0.8); 
	}
	
.formInput:focus {
	/* Glowing effect */
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	outline: none;
	box-shadow: 0 0 5px rgba(213,170,59, 1);
    -webkit-box-shadow: 0 0 5px rgba(213,170,59, 1); 
    -moz-box-shadow: 0 0 5px rgba(213,170,59, 1);
    border:1px solid rgba(213,170,59, 0.8); 
	}
	
#textArea {
		border: 1px solid #434343;
		padding: 5px;
		resize: vertical;
		text-align: left;
	}
	
.textAreaLabel {
	margin-left: 5px;
	}
		
#textArea:hover {
	/* Glowing effect */
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	box-shadow: 0 0 5px rgba(213,170,59, 1);
    -webkit-box-shadow: 0 0 5px rgba(213,170,59, 1); 
    -moz-box-shadow: 0 0 5px rgba(213,170,59, 1);
    border:1px solid rgba(213,170,59, 0.8); 
	}
	
#textArea:focus {
	/* Glowing effect */
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	outline: none;
	box-shadow: 0 0 5px rgba(213,170,59, 1);
    -webkit-box-shadow: 0 0 5px rgba(213,170,59, 1); 
    -moz-box-shadow: 0 0 5px rgba(213,170,59, 1);
    border:1px solid rgba(213,170,59, 0.8); 
	}
	

	
#form {
	z-index: 0;
	position: relative;
	width: 400px;
	padding-bottom: 50px;
	}

/* Icon and form containers */	
#iconContainer {
	width: 35%;
	min-width: 400px;
	text-align: left;
	padding-top: 2%;
	display: none;
	}
	
#formContainer {
	vertical-align: top;
	margin-right: 50px;
	}
	
#buttonHolder {
	float: right;
	padding: 5px;
	}
	
.button {
	font-family: Verdana;
	font-size: 80%;
	border: 1px solid black;
	padding: 5px;
	background-color: #434343;
	color: #E4E4E4;
	}
	
.button:hover {
	/* Glowing effect */
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	cursor: pointer;
	box-shadow: 0 0 5px rgba(213,170,59, 1);
    -webkit-box-shadow: 0 0 5px rgba(213,170,59, 1); 
    -moz-box-shadow: 0 0 5px rgba(213,170,59, 1);
    border:1px solid rgba(213,170,59, 0.8); 
	}
	
.button:focus {
	outline:0;
	}
	
/* *** BROWSE PAGE *** */

.gridHeading {
	position: relative;
	left: -20px;
	padding: 5px;
	width: 100%;
	text-align: center;
	font-family: Verdana;
	font-size: 130%;
	color: #E4E4E4;
	}	

.gridContainer {
	vertical-align: top;
	padding: 20px;
	width: 35%;
	min-width: 450px;
	text-align: left;
	}
	
.browseContainer {
	vertical-align: top;
	width: 35%;
	min-width: 450px;
	text-align: center;
	}
	
.browseInnerContainer {
	width: 452px;
	position: relative;
	}
	
.gridWrapper {
	width: 100%;
	text-align: center;
	}
	
.description {
	width: 65%;
	vertical-align: top;
	}
	
.label {
	width: 35%;
}

.browseContent {
	min-height: 500px;
	text-align: center;
	}

.zoom {
    position:relative;
    width:450px;
    height:auto;
    left:0px;
    top:0px;
    border:1px solid black;
    /* Apply a CSS3 Transition to width, height, top and left properties */
    transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -webkit-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -o-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -moz-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
	}
	
.zoomDiv {
    position:relative;
    width:450px;
    height:auto;
    left:0px;
    top:0px;
    /*border:1px solid black;*/
    /* Apply a CSS3 Transition to width, height, top and left properties */
    transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -webkit-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -o-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -moz-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
	}

.ZoomIt section {
	clear:both;
	}
	
.ZoomIt article {
	margin:	20px;
	overflow: visible;
	}
	
.zoomIcon {
	position: absolute;
	z-index:20;
	}
	
.zoomOutIcon {
	position: absolute;
	z-index:20;
	}
	
.zoomIconLeft {
	top: 30px;
	left: -35px;
	}
	
.zoomIconRight {
	top: 30px;
	right: -35px;
	}
	
.zoomOutIconLeft {
	display: none;
	top: 30px;
	left: 25px;
	}
	
.zoomOutIconRight {
	display: none;
	top: 30px;
	right: 40px;
	}
	
.zoomIcon:hover {
	cursor: pointer;
	}
	
.zoomOutIcon:hover {
	cursor: pointer;
	}
	
.zoomIcon:focus {
	text-decoration: none;
	border: none;
	outline: none;
	}
	
.zoomIconLeft:focus {
	left: 30px;
}

.zoomIconRight:focus {
	right: 40px;
}
	
.zoomIcon:focus ~ .zoomOutIcon {
	display: block;
	}
	
.zoomIcon:focus ~ .zoomOutIconLeft {
	position: absolute;
	left: -5px;
	}
	
.zoomIcon:focus ~ .zoomOutIconRight {
	position: absolute;
	right: 5px;
	}
	
.zoomIcon:focus  ~ .zoomDivLeft .zoom {
    width:700px;
    height:auto;
    left: 0px;
	top: 0px;
    z-index:10;
	}
	
.zoomIcon:focus  ~ .zoomDivRight .zoom {
    width:700px;
    height:auto;
    left: 0px;
	top: 0px;
    z-index:10;
	}
	
.zoomIcon:focus ~ .zoomDivLeft {
	width:700px;
    height:auto;
    left: 50px;
    top:0px;
    z-index:10;
	margin: 20px;
	padding: 20px;
	background-color: #434343;
	border: 1px solid #D5AA3B;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	}
	
.zoomIcon:focus ~ .zoomDivRight {
	width:700px;
    height:auto;
    left: -400px;
    top: 0px;
    z-index:10;
	margin: 20px;
	padding: 20px;
	background-color: #434343;
	border: 1px solid #D5AA3B;
	
	/* Reference: http://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-o-box-shadow: 0 0 18px #D5AA3B;
	-webkit-box-shadow: 0 0 18px #D5AA3B;
	-moz-box-shadow: 0 0 18px #D5AA3B;
	box-shadow: 0 0 18px #D5AA3B;
	border-radius: 40px 40px 40px 40px;
	}
	
.zoomDiv a {
	text-decoration: none;
	}
	
.readMore {
	position: absolute;
	z-index:20;
	background-color: #FFFFFF;
	color: #434343;
	font-family: 'Spinnaker';
	font-size: 80%;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	}
	
.readMoreLeft {
	top: 0px;
	left: -30px;
	}
	
.readMoreRight {
	top: 0px;
	right: -20px;
	}
	
.zoomIcon:focus  ~ .readContainer {
	display: block;
	}
	
/* *** PROGRAMMING PAGE *** */

.projectHeading {
	padding: 20px;
	font-family: Verdana;
	font-size: 130%;
	color: #E4E4E4;
	}
	
.center {
	text-align: center;
	}
	
.projectHighlight {
	background-color: #9A9A9A;
	padding: 20px;
	}
	
.projectLabel {
	font-weight: bold;
	font-family: Verdana;
	font-size: 90%;
	width: 30%;
	}
	
.projectDescription {
	font-family: Verdana;
	font-size: 90%;
	width: 65%;
	vertical-align: top;
	font-size: 100%;
	}
	
.projectPadding {
	padding: 10px;
	}
	
.projectLink {
	text-decoration: none;
	color: white;
	}
	
.projectLink:hover {
	cursor: pointer;
	}


/* *** KEYFRAMES ANIMATION *** */
/* Reference: http://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
	
@-o-keyframes spin {
    0%   {-o-transform: rotateY(0deg); }
    100% {-o-transform: rotateY(360deg); }
}

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotateY(0deg); }
    100% {-webkit-transform: rotateY(360deg); }
}
	
	
@-moz-keyframes spin {
    0%   {-moz-transform: rotateY(0deg); }
    100% {-moz-transform: rotateY(360deg); }
}	
	
@keyframes spin {
    0%   {transform: rotateY(0deg); }
    100% {transform: rotateY(360deg); }
}