/* CSS for the Everwarm Scenario, CIS100 Programming Concepts. Created by Michael Baggott, Louise Lynham, Assessment 2 - Group B -26 */
/* Accompanying HTML and Javascript contained in Zip file: index.html, js/formjava.js */

/* Element styling, ID styling */

body {	background: #778899;}
	
h1 {	font: bold 200% Arial;}

h2 { font: bold 150% Arial;}

button:hover {	cursor: hand;
				cursor: pointer;
				}
			
/* Overrides class style formfield1 */			
#temptitle {	font: bold 200% Arial;color:#FF0000;
			text-align: center;
			width: 100%;
			}

/* Overrides class style formfield2 */ 
#tempbutton1div {	display: inline-block;
					font: bold 20px Arial;
					text-align: right;
					width: 35%;
					margin: 5px;
					*display: inline;
					zoom: 1;
					}
				
/* Class styling */				

/* Heading images and text */
.imgheadleft {	width: 33%;
				text-align: right;
				display: inline-block;
				*display: inline;
				zoom: 1;
				}

.headingcont {	width: 33%;
				text-align: center;
				display: inline-block;
				*display: inline;
				zoom: 1;
				}
				
.imgheadright{	width: 33%;
				text-align: left;
				display: inline-block;
				*display: inline;
				zoom: 1;
				}
				
/* Aside menu next to order form */
.menuaside { display: inline-block;
			vertical-align: top;
			text-align: right;
			*display: inline;
			zoom: 1;
			}
			
.menu {	margin: 20px;}

.summarybutton {	width: 161px;
				height: 40px;
				background-image: url(../images/summary.jpg);
				}
				
.summarybutton:hover {	border: 2px solid #FFFF33;
						width: 161px;
						height: 40px;
						background-image: url(../images/summary.jpg);
						}

.summarybuttonopaque {	filter: alpha(opacity=25);
						-moz-opacity:0.23;
						opacity: 0.25;
						width: 161px;
						height: 40px;
						background-image: url(../images/summary.jpg);
						}

.exitbutton {	width: 138px;
				height: 131px;
				background-image: url(../images/exit.jpg);
				margin: 10px;
				text-align: center;
				margin-bottom: 70px;
				}
				
.exitbutton:hover {	border: 2px solid #FF0033;
					width: 138px;
					height: 131px;
					background-image: url(../images/exit.jpg);
					margin: 10px;
					text-align: center;
					margin-bottom: 70px;
					}
				
.exitbuttonopaque {	filter: alpha(opacity=25);
					-moz-opacity:0.23;
					opacity: 0.25;
					width: 138px;
					height: 131px;
					background-image: url(../images/exit.jpg);
					margin: 10px;
					text-align: center;
					margin-bottom: 70px;
					}
				
/* Top main area, and top form */
.mainpage {	display: inline-block;
			width: 75%;
			text-align: left;
			*display: inline;
			zoom: 1;
			vertical-align: top;
			}
			
.formcontainer { width: 250px; }
			
.left {	float: left;
		clear: left;
		font: bold 20px Arial;
		padding: 5px;
		}
		
.input {	margin-bottom: 20px;
		border: 2px solid #000;
		padding: 2px;
		}
		
.buttoncontainer {	width: 450px;
					text-align: right;
					}

.submitbutton {	width: 164px;
				height: 42px;
				background-image: url(../images/submit.jpg);
				}
				
.submitbutton:hover {	border: 2px solid #FFFF33;
						width: 164px;
						height: 42px;
						background-image: url(../images/submit.jpg);
						}
				
.submitbuttonopaque {	filter: alpha(opacity=25);
						-moz-opacity:0.23;
						opacity: 0.25;
						width: 164px;
						height: 42px;
						background-image: url(../images/submit.jpg);
						}

/* Blank aside menu next to confirm/summary form */
.confirmaside { 	display: inline-block;
				width: 200px;
				*display: inline;
				zoom: 1;
				}
				
/* Confirm and summary Form */
.confirmcontainer {	width: 100%;
					text-align: right;
					}
					
.formfield1 {	display: inline-block;
				font: bold 20px Arial;
				text-align: right;
				width: 35%;
				margin: 5px;
				*display: inline;
				zoom: 1;
				}
				
.formfield2 {	display: inline-block;
				text-align: left;
				width: 60%;
				*display: inline;
				zoom: 1;
				}
				
/* Dynamic buttons created with Javascript */
.cancelbutton {	width: 162px;
				height: 41px;
				background-image: url(../images/cancel.jpg);
				}

.cancelbutton:hover { border: 2px solid #FF0033; }

.processbutton {	width: 164px;
				height: 41px;
				background-image: url(../images/process.jpg);
				}
				
.processbutton:hover { border: 2px solid #FFFF33; }
				
.closebutton  {	width: 163px;
				height: 40px;
				background-image: url(../images/close.jpg);
				}
				
.closebutton:hover { border: 2px solid #FFFF33; }

/* Horizontal and vertical rules */
.fullwidth {	width=100%;
			border: 0;
			border-top: 2px solid #000;
			margin: 5px;
			}
			
.vertrule {	border-left: 2px solid #000;
			margin: 0;
			height: 435px;
			width: 2%;
			display: inline-block;
			text-align: center;
			*display: inline;
			zoom: 1;
			}
			
					